h1, h2 {
  text-align: center;
  font-size: 400%;
  color: #0084b4;
  font-family: 'Cabin Sketch', cursive;
}

table {
  color: #000000;
  font-size: 115%;
}

p {
  text-align: center;
  font-size: 150%;
  font-family: 'Cabin Sketch', cursive;
}
td {
  font-size: 100%;
  font-family: 'Cabin Sketch', cursive;
  color: #000000;
}
#box {
  text-align: center;
  font-size: 150%;
  font-family: 'Cabin Sketch', cursive;
}
